<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40553257035-mrnqns7mumvmv21nusrvp44chr7j61dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40553257035-mrnqns7mumvmv21nusrvp44chr7j61dr</string>
	<key>API_KEY</key>
	<string>AIzaSyCD5hfLUCg5-POUI-XtN0oLFYXfgcjnc2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>40553257035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>idk.wordleBlitz</string>
	<key>PROJECT_ID</key>
	<string>wordblitz-cf031</string>
	<key>STORAGE_BUCKET</key>
	<string>wordblitz-cf031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40553257035:ios:ad5810d19b6bdb305355ce</string>
</dict>
</plist>